
/* 3.table */
/* ----------------------- */


/* table,th,td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: left;
} */


/* ----------------------- */


/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

/* ----------------------- */

  /* table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }
   */

  /* ----------------------- */

/* 
  table, th, td {
    border: 1px solid black;
    border-radius: 10px;
  } */

 /* ----------------------- */

  /* th, td {
    border: 1px solid black;
    border-radius: 10px;
  } */

 /* ----------------------- */

  /* th, td {
    border-style: dotted;
  } */

/* ----------------------- */

/* 
th,td
{
    color: yellowgreen;
    border: rgb(219, 121, 9) 2px solid;
    text-align: center;
    padding: 20px;
    margin: 2px;
} */

/* ----------------------- */

/* type 3 */

/* table,th,td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: left;
} */


/* ----------------------- */

/* type 4*/
/* Cell padding is the space between the cell edges and the cell content. */

/* 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  } 
  th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
*/
/* ----------------------- */

/* Cell spacing is the space between each cell. */
/* table, th, td {
    border: 1px solid black;
  }
  table {
    border-spacing: 30px;
  } */

/* ----------------------- */


/* type 5 */

/* table, th, td {

    border-collapse: collapse;
  }
th:hover {background-color: #D6EEEE;}
tr {
    border-bottom: 1px solid #ddd;
  } */


  /* ----------------------- */


  /* 4-list */
  /* ul */

  #ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333333;
  }
  #list
  {
    float: left;
  }
  #list a
  {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  #list a:hover {
    background-color: #93c421;
  }







